@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    font-family: Poppins;
    box-sizing: border-box;
    
}

button {
    transition: 0.5s ease;
}
button:hover{
    background-color: rgba(26, 26, 228, 0.774);
}

.future_item {
    transition: 0.5s ease;
}

.future_item:hover {
    background-color: rgb(43, 53, 185);
   
}
.pricing {
    transition: 0.5s ease;
}

.pricing:hover {
    transform: scale(1.1);
}